*{
    padding:0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    /* background-image: url("../IMAGE/worker1.jpg"); */
    /* background-size:cover;
    background-repeat: no-repeat; */
}
#header{
    width:100%;
    height:60 px;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    
    padding: 0px 20px;
    align-items: center;
    position: fixed;
    top: 0;
}

#logo{
    width: 70px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(180, 93, 107);
    font-weight: bold;
}
nav{
    margin-left: 570px;
}
nav ul{
    
    display: flex;
}
nav ul li{
    list-style: none;
    list-style: none;
    /* margin-left: 62px; */
    /* margin-top: 27px; */
    font-size: 14px;
}
nav ul li a{
    text-decoration: none;
  
    color: #ff7200;
    font-family: Arial;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}
nav ul li a:hover{
    color: black;
    /* background-color:white; */
    
}
.active{
    border-bottom: 1px solid black;
}

/* sub menu css */
.sub-menu-1{
    display: none;
}
#header nav ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #ffffff;
    margin-top: 15px;
    margin-left: 15px;
}
#header nav ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
#header nav ul li:hover .sub-menu-1 ul li{
    width: 250px;
    padding: 10px;
    border-bottom: 1px dotted black;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
#header nav ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
#header nav ul li:hover .sub-menu-1 ul li a:hover{
    color: #b2ff00;
}

                   


/* section-front */
.front{
    width: 100%;
    height: 600px;
    background-image: url("../IMAGE/worker1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.front-box{
    width: 500px;
    height: 300px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    /* margin-left: 20px; */
    /* align-items: center;
    justify-content: center; */
    /* justify-content: center; */
}
.front-heading{
   color: #ff7200;
   font-family: sans-serif;
   width: 100%;
   margin-top: 30px;
   margin-left: 120px;
}
.horizontal{
    width: 50px;
    padding: 10px;
    margin-left: 200px;
}
.just-task{
   margin-left: 190px;
   font-family: sans-serif;
   color: #ff7200;
}
.search-worker{
    display: flex;
    /* width: 100%;
    height: 40px; */
    margin-left: 20px;
}
.search-worker input{
    width: 300px;
    height: 40px;
   border: 1px solid black;
   border-radius: 10px;
   color: #fff;
   font-size: 15px;
   letter-spacing: 1px;
   font-family: sans-serif;
   
}
::placeholder{
    color: #ff7200;
    font-family: arial;
    margin-left: 100px;
    font: 18px;
}
.search-worker button{
    width: 155px;
    height: 40px;
    border: 1px solid black;
    margin-left: 5px;
    background: #ff7200;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: .4s ease;
}
}
.search-worker butten:hover{
    background-color:black;
}
.suggetion{
    width:450px ;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-left: 20px;
    padding-top: 10px;
}
.box-worker{
    margin-top: 10px;
    padding: 2px;
   color: #ff7200;
   font: bold;
   border-radius: 5px;
}
.suggetion a{
    text-decoration: none;
    color: black;
}

/* section how it work */
.how-it-work{
    width: 80%;
     display: flex;
     align-items: center;
     justify-content: center;
     justify-content: space-between;
     margin-left: 150px;
}
.box{
   width: 300px;
   height: 300px;
}
#How-h1{
    margin-left: 150px;
}


/* section 3 */
#sec-3{
    width: 100%;
    height: 300px;
    background-color: #065C62;
    display: flex;
    align-items: center;
    justify-content: center;

}
.info{
    color: white;
}
.search-info{
    margin-left: 200px;
}
.email-varify input{
    width: 200px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
}
.search-info button{
    width: 150px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
}











/* footer css  */
footer{
    width: 100%;
    height: 500px;
    background-color: #022022;
}